<section class="danh-sach-sp">
  <h3>Danh sach san pham</h3>

  <div class="danh-sach-sp__items">
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
    <div class="danh-sach-sp__item">San pham</div>
  </div>
</section>