// Utilities

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right,
.u-pull-right.columns {
  float: right;
}

.u-pull-left {
  float: left;
}

.clear {
  clear: both;
}

.align-right {
  text-align: right;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
